body {
    font-family: Arial, sans-serif;
    background-color: yellow;
}

h1,h2{
    color: red;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

ol {
    list-style-type: none;
    counter-reset: level1;
}

ol li {
    counter-increment: level1;
    margin-bottom: 5px;
}

ol li ol {
    list-style-type: none;
    counter-reset: level2;
}

ol li ol li {
    counter-increment: level2;
}

ol li:before {
    content: counter(level1) ". ";
    margin-right: 5px;
}

ol li ol li:before {
    content: counter(level2) ". ";
    margin-right: 5px;
}
